<!-- start custom head snippets -->
<meta name="google-site-verification" content="IMEi65fqIYcjLCwFj1KnMlQLFcykwO4nGYLc0rVfwvU" />

<!-- MathJax -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "Organization",
            "name" : "Zellab™ Studios",
            "url" : "https://zellab.com",
            "logo": "https://zellab.com/images/logo.png",
            "sameAs" : [
                    "http://www.facebook.com/zellabstudios",
                    "http://www.twitter.com/zellabstudios",
            ]
        }
    </script>

    <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "WebSite",
            "name" : "Zellab™ Studios",
            "alternateName" : "Unique Designs | Phtorealism",
            "url" : "https://zellab.com/"
        }
    </script>

 <!-- og. for twitter and facebook --> 

    <!-- for Pinterest --> 
    <meta name="p:domain_verify" content="4daed5a03e0a30221c58bb6badee393b"/>
    <!-- for Facebook -->   
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:image" content="{{page.image}}" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:description" content="{{page.summary}}" />
    <meta property="og:type" content= "website" />
    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@zellabstudios">
    <meta name="twitter:creator" content="@zellabstudios">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.summary}}">
    <meta name="twitter:image" content="{{page.image}}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    

<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico" rel="stylesheet"> 

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->